{% extends "base.html.twig" %}


{% block body %}

   <div class="container">
<h1 class="text-center">Confirmez votre compte</h1>

<form action="../blog/verification" method ="POST">
    
    <div class="form-group">
        <label for="title" >Verification du code </label>
        <input type="text" class="form-control" id="title" name="cle" placeholder="
        mettez le code qui vous a été envoyé : #@ys#k">
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Confirmer</button>

    <div class="form-group">
        <p>{{ error}}</p>
    </div>
</form>
</div>


{% endblock %}